.param-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.param-connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0px;
  flex-grow: 1;
  margin-bottom: 10px;
  margin-left: -5px;
}

.connection {
  height: 1px;
  background-color: #ffffff;
}

.param-connection .connection.connected {
  background-color: #646cff;
}

.param-io {
  margin-top: 14px;
  margin-bottom: auto;
}

.param-knob {
  min-width: 50px;
}

.param-select {
  margin-left: 4px;
  margin-bottom: 12px;
  padding: 4px;
  background-color: #242424;
  border: 1px solid white;
}

.param-select:hover, .param-select:hover{
  border: 1px solid #646cff;
}
