.module-list {
  display: flex;
  flex-direction: column;
}

.module-list h3 {
  margin-top: 0;
}

.module-list button {
  border-color: white;
  border-radius: 2px;
}

.module-list button:hover {
  border-color: #646cff;
}
